@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-primary: #193ce6;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111421;
}

html {
  scroll-behavior: smooth;
}